In [3]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find the data files in the README.

In [38]:
# titles = pd.read_csv('data/titles.csv')
# titles.head()

In [39]:
# cast = pd.read_csv('data/cast.csv', sep=",")
# cast.head()

In [ ]:
# release_dates = pd.read_csv('data/release_dates.csv', index_col=None,
#                                       parse_dates=['date'], infer_datetime_format=True)
# release_dates.head()

### 1. How many movies are listed in the titles dataframe?

### 2. What are the earliest two films listed in the titles dataframe?

### 3. What are the ten most common movie names of all time?

### 4. What are the 10 most common character names in movie history?

### 5. Count the number of films that have been released in each decade over the history of cinema.

> Hint: You can make a new column to store what decade a movie is.

> Hint2: If you're stuck on how to do this, expand the cell below.

```python
titles['decade'] = (titles['year'] // 10) * 10
```

### 6. Retrieve the title and year of the first 10 rows in the titles dataframe.

### 7. Get the character names and types for the 5th to the 15th rows (inclusive) in the cast dataframe.

### 8. Extract the title and release date of the last 5 entries in the release_dates dataframe.

### 9. Select the year and country of the 20th row in the release_dates dataframe.

### 10. Print the name, character, and type for rows 100 to 105 (inclusive) in the cast dataframe.