# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [3]:
new_set={}
print(new_set)

{}

* create a non empty set
* print that set

In [4]:
new_set={3,2,4}
print(new_set)

{2, 3, 4}

* iterate over the set and print results

In [5]:
for i in new_set:
    print(i)

2
3
4

* add one item to the set

In [6]:
new_set.add(4)

* add multiple items to the set

In [10]:
new_set.update({3,4,5})

* remove an item from a set if it is present in the set

In [11]:
new_set.remove(3)

* find maximum and minimum values of the set

In [16]:
print(min(new_set),max(new_set))

2 5

* print the length of the set

In [17]:
print(len(new_set))

3

* create an intersection of x and y

* create an union of x and y

* create difference between x and y

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [18]:
from collections import Counter

sentence="black cat jumped over white cat"
sentence_split= sentence.split()
sentence_count = Counter(sentence_split)

print(sentence_count)

Counter({'cat': 2, 'black': 1, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [21]:
print(sentence_count.most_common(1))

[('cat', 2)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [26]:
from collections import defaultdict

sentence_dd_count= defaultdict(str, sentence_count)

print(sentence_dd_count)

defaultdict(<class 'str'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [34]:
from collections import deque

list = ["a", "v", "d"]
deqlist= deque(list)
print(deqlist)

deque(['a', 'v', 'd'])

* append number 10 to deque

In [35]:
deqlist.append(10)

* remove element from the right end from deque

In [36]:
deqlist.pop()
print(deqlist)

deque(['a', 'v', 'd'])

* remove element from the left end from deque

In [37]:
deqlist.popleft()

'a'

* delete all elements from deque

In [38]:
deqlist.clear()

* create named tuple (people) with name and surname as position names

In [ ]:
from collections import namedtuple

people=namedtuple('surname', 'name')

* print name and surname

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [50]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    print(f"Luke, I am your { _dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [51]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [54]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]