In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})

In [6]:
df['D'] = df['A'] * df['B']
df.drop('C', axis = 1)

   A  B   D
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [8]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(df)
df = df * 10
print(df)

   A  B
0  1  4
1  2  5
2  3  6
    A   B
0  10  40
1  20  50
2  30  60